@model IEnumerable<La_Game.Models.Question>
<table class="table">
    <tr>
        <th>
            Question
        </th>
        <th>
            Picture
        </th>
        <th>
            Audio
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        var link = Url.Action("Details", "Questions", new { id = item.idQuestion });
        <tr>
            <td onclick="Redirect('@link')">
                @Html.DisplayFor(modelItem => item.questionText)
            </td>
            <td onclick="Redirect('@link')">
                @{
                    if (!String.IsNullOrEmpty(item.picture))
                    {
                        <p><span class="glyphicon glyphicon-ok"></span></p>
                    }
                }
            </td>
            <td onclick="Redirect('@link')">
                @{
                    if (!String.IsNullOrEmpty(item.audio))
                    {
                        <p><span class="glyphicon glyphicon-ok"></span></p>
                    }
                }
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("AddQuestionToList", "QuestionLists", new { id = item.idQuestion, listId = ViewBag.listId }) + "'");">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </td>
        </tr>
    }

</table>