@model IEnumerable<La_Game.Models.QuestionList>

<table class="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Description</p>
        </th>
        <th>
            <p>Code</p>
        </th>
        <th>
            <p>Active</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var link = Url.Action("Details", "QuestionLists", new { id = item.idQuestionList });
        <tr>
            <td onclick="Redirect('@link')">
                @Html.DisplayFor(modelItem => item.questionListName)
            </td>
            <td onclick="Redirect('@link')">
                @Html.DisplayFor(modelItem => item.questionListDescription)
            </td>
            <td onclick="Redirect('@link')">
                @Html.DisplayFor(modelItem => item.participationCode)
            </td>
            <td onclick="Redirect('@link')">
                @if (item.isActive == 0 || item.isActive == null)
                {
                    <t>No</t>
                }
                else
                {
                    <t>Yes</t>
                }
            </td>
        </tr>
    }

</table>