
@{
    ViewBag.Title = "CreateCodes";
}

<h2>CreateCodes</h2>
<div class="container-code">
    <form method="get">
        <input id="totalParticipants" name="totalParticipants" type="text" />
        <input value="go" type="submit" />
    </form>
</div>

<p>@ViewBag.showList</p>

