@model IEnumerable<La_Game.Models.Member>

<table table id="languageMembers" class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstname) @Html.DisplayFor(modelItem => item.lastname)
                </td>
            </tr>
        }
    </tbody>
</table>
