<div>
    <div id="filter">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Language</p>
                        @Html.DropDownList("lst_Languages", null, "No filter", htmlAttributes: new { @class = "form-control", @id = "ddlanguages" })

                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <p>Lesson</p>
                        @Html.DropDownList("lst_Lessons", null, "No filter", htmlAttributes: new { @class = "form-control", @id = "ddlessons" })

                    </div>
                </div>

                <button type="button" class="btn btn-default" onclick="addSelectionToChart()" id="btnselectionadd">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <button type="button" class="btn btn-default" onclick="clearChartData()" id="btnclearchartdata">
                    <span class="glyphicon glyphicon-remove"></span> Clear Chart
                </button>

            </div>
        }
        <hr />
    </div>
</div>
<script src="~/Scripts/lessonselectionrefresh.js"></script>


