@{
    ViewBag.Title = "Compare Lessons";
}
<div class="container">
    <h2> Compare Lessons </h2>
    <hr />
    <div>
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group">
                    <h4>Select Lesson to compare</h4>
                    @{Html.RenderAction("CompareLessonSelection", "Statistics", new { questionListID = ViewBag.questionListID, lessonID = ViewBag.lessonID });}
                    <canvas id="barChart" width="400" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("LessonStatistics", "Statistics") + "'");">
            <span class="glyphicon glyphicon-menu-left"></span> Back to Lesson Statistics
        </button>
        <button type="button" id="exportButton" class="btn btn-default btn-sm">Pdf</button>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>
        var myBarChart;
        createChart();

        function createChart()
        {
            var c = document.getElementById("barChart");
            var ctx = c.getContext("2d");
            myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: null,
                    datasets: null,
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 10
                            }
                        }]
                    }
                }
            });

            $("#exportButton").click(function () {
                var dataURL = c.toDataURL();
                console.log(dataURL);

                var pdf = new jsPDF('l', 'mm', [297, 210]);
                pdf.addImage(dataURL, 'PNG', 20, 50, 250, 105);
                pdf.save("Compare_lesson.pdf");
            });
        }

        
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/lessonselectionrefresh.js")
}