
@{
    ViewBag.Title = "QuestionListStatistics";
}

<h2>QuestionListStatistics</h2>

@{ 
    for (int i=0; i<ViewBag.questionLists.Count; i++)
    { 
       <p><a href="@Url.Action("QuestionListStatistics","Statistics",new {questionListId = ViewBag.questionLists[i].idQuestionList })">@ViewBag.questionLists[i].questionListName</a></p>
    }
}