@model La_Game.Models.Member
@{
    ViewBag.Title = "Account";
}

<h2>Account</h2>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>
        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @* Html.DisplayFor(model => model.email) *@
        </dd>
        <dt>
            Admin Rights
        </dt>
        <dd>
            @* 
            if (model.isAdmin == 0 || model.isAdmin == null)
            {
                <t>No</t>
            }
            else
            {
                <t>Yes</t>
            }
            *@
        </dd>
        <dt></dt>
        <dd>
            <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("ChangePassword", "Authentication") + "'");">
                <span class="glyphicon glyphicon glyphicon-wrench"></span> Change Password
            </button>
        </dd>
    </dl>
</div>
