@model La_Game.Models.Participant

@{
    ViewBag.Title = "QuestionlistResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var qlist = ViewBag.questionListName;
    var results = ViewBag.results;
    var attempts = ViewBag.attempts;
    var attemptCount = ViewBag.attemptCount;
}

<h2>@qlist</h2>
<hr />


<div class="container-fluid">
    <table class="table table-responsive">
        <thead>
        <th></th>
        @foreach (var attempt in attempts)
        {
            <th>Attempt @attempt</th>
        }
        </thead>
            <tbody>
                @foreach (var result in results)
                {
                    <tr>
                        <td> </td>
                        @for (int i = 1; i <= attemptCount; i++)
                        {
                            if(result.ContainsKey(i))
                            {
                                var value = result[i];
                                <td>@Html.Raw(value.answerText)</td>
                            } else
                            {
                                <td>-</td>
                            }
                        }

                    </tr>
                }
            </tbody>
    </table>
</div>
