
@model List<String>
@{
    ViewBag.Title = "ListBlobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List blobs</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>
