@model IEnumerable<La_Game.Models.Language>

@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>LA-Game User Dashboard</h1>
    <p class="lead"> From this page you will be able to access all the functions of the application.</p>
</div>

<div class="row">
    <div class="table-responsive col-md-4">
        <h2>Your Languages</h2>
        @{Html.RenderAction("GetLanguageOverview", "Home", new { memberId = 1 });}

        <p>
            <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "QuestionLists") + "'");">
                <span class="glyphicon glyphicon-list-alt"></span> Questionlist Overview
            </button>
            <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "Questions") + "'");">
                <span class="glyphicon glyphicon-list-alt"></span> Question Overview
            </button>
        </p>
    </div>    
    <div class="col-md-4">
        <h2>Etc.</h2>
        <p>Wow</p>
        <p><a class="btn btn-default" href=""> ¯\_(ツ)_/¯ &raquo; </a></p>
    </div>
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p> View statistics or generate reports. Maybe a seperate dashboard containing different kind of graphs. </p>
        <p><a class="btn btn-default" href=""> ¯\_(ツ)_/¯ &raquo;</a></p>
    </div>

</div>