@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>LA-Game User Dashboard</h1>
    <p class="lead"> From this page you will be able to access all the functions of the application.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your Languages</h2>
        <p> Table containing all the languages you are a member of. </p>
        <p><a class="btn btn-default" href=""> ¯\_(ツ)_/¯ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p> View statistics or generate reports. Maybe a seperate dashboard containing different kind of graphs. </p>
        <p><a class="btn btn-default" href=""> ¯\_(ツ)_/¯ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Etc.</h2>
        <p>Wow</p>
        <p><a class="btn btn-default" href=""> ¯\_(ツ)_/¯ &raquo; </a></p>
    </div>
</div>