@{
    ViewBag.Title = "Home Page";
}
<div class="container-code">
    <form method="get">
        First name: <input name="firstName" type="text" /> <br />
        Last name: <input name="lastName" type="text" /> <br />
        Student code: <input name="studentCode" type="number" /> <br />
        Participation code: <input name="participationCode" type="text" />
        <input value="go" type="submit" />
    </form>
</div>

<p>@ViewBag.Message</p>