@{
    ViewBag.Title = "Home Page";
}
<div class="container-code">
    <form method="get" >
        <input id="participationCode" name="participationCode" type="text" />
        <input value="go" type="submit"/>
    </form>
</div>

<p>@ViewBag.Message</p>