@{
    ViewBag.Title = "Home Page";
}
<div class="container-code">
    <form method="get" action="@Url.Action("index", "StudentTest")">
        <input id="participationCode" name="participationCode" type="text" />
        <input value="go" type="submit" />
    </form>
</div>