@{
    ViewBag.Title = "Home Page";
}
<div class="container-code">
    <form method="get">
        <p>First name:</p> <input class="input" name="firstName" type="text" /> <br />
        <p>Last name: </p><input class="input" name="lastName" type="text" /> <br />
        <p>Student code:</p> <input class="input" name="studentCode" type="number" /> <br />
        <p>Participation code:</p> <input class="input" name="participationCode" type="text" /><br/><br/>
        <input class="submit" value="go" type="submit" />
    </form>
</div>

<p>@ViewBag.Message</p>