@model La_Game.Models.TestQuestionData

<div class="col-md-8">
    <div>
        @{Html.RenderAction("TestQuestionForm", "StudentTest", 1);}
    </div>
</div>
<script>
    //function toggleDisplay(questionId) {
    //    var x = document.getElementById("question" + questionId);
    //    if (x.style.display === "none") {
    //        x.style.display = "block";
    //    } else {
    //        x.style.display = "none";
    //    }
    //}
    
</script>
