@model La_Game.Models.TestQuestionData

<div class="col-md-8">
    <h4>Answer Question</h4>
    <hr />
    <div>
        @{Html.RenderAction("TestQuestionForm", "StudentTest", 1);}
    </div>
</div>
<script>
    //function toggleDisplay(questionId) {
    //    var x = document.getElementById("question" + questionId);
    //    if (x.style.display === "none") {
    //        x.style.display = "block";
    //    } else {
    //        x.style.display = "none";
    //    }
    //}

    $(document).ready(function () {
        $('body,html').on('click', '#debugnext', function (e) {
            $.ajax({
                url: "/StudentTest/TestQuestionForm",
                type: 'GET',
                dataType: 'html',
                data: { index: 2 },
                success: function (data) {
                    $('#testQuestionPartialContainer').html(data);
                }
            });
        }

</script>
