@model IEnumerable<La_Game.Models.TestQuestionData>
<div class="col-md-8">
    <h4>Answer Question</h4>
    <hr />
    <div id="testQuestionPartialContainer">
        @foreach (var item in Model)
        {
            Html.RenderAction("TestQuestionForm", "StudentTest", item);
        }
    </div>
</div>
<script>
    function toggleDisplay(questionId) {
        var x = document.getElementById("question" + questionId);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    $(document).ready(function () {
        toggleDisplay('@Model.First().questionData.idQuestion');
        $("#debugnext").click(function (e) {

            @*e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("form");

            var isvalid = _form.valid();  // Tells whether the form is valid

            if (isvalid) {
                //$.post(_form.attr("action"), _form.serialize(), function (data) {
                //    //check the result and do whatever you want
                //})
                $.ajax({
                    url: _form.attr("action"),
                    type: 'POST',
                    dataType: 'html',
                    data: @(Model.ElementAt(1)),
                    success: function (data) {
                        $('#testQuestionPartialContainer').html(data);
                    }
                });
            }*@

        });
    }
</script>
