@{
    ViewBag.Title = "Student Test";
}

<div>
    <h2>Student Test</h2>
    <hr />
    <div id="partialContainer" class="col-md-12">
        @{Html.RenderAction("TestEntryForm", "StudentTest", new { });}
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/studenttest.js")

}