
@{
    
    ViewBag.Title = "MultipleChoice";
  
}

<h2>MultipleChoice</h2>

@{

        // foreach (var data in TempData[]) {
        //   <li>@data.idQuestionList</li>
        // }

    
    

    <p>@ViewBag.index</p>


    if (ViewBag.questionData.Count > ViewBag.index)
    {
        <p>@ViewBag.questionData[ViewBag.index].questionText</p>
    }


    using (Html.BeginForm("Index", "StudentTest", FormMethod.Post))
    {
        <input type="hidden" value="@ViewBag.index" name="index" />
        <input value="next" type="submit" />
    }
    TempData["questionData"] = ViewBag.questionData;
    TempData["questionListData"] = ViewBag.questionListData;

}