
@{
    ViewBag.Title = "MultipleChoice";
}

<h2>MultipleChoice</h2>

@{
    foreach (var data in ViewBag.questionListData) {
        <li>@data.idQuestionList</li>
    }

    for (int i = 0; i < ViewBag.questionData.Count-1 ; i++) {
        <li>@ViewBag.questionData[i].questionText</li>
    }

}